// Inclusive Media Queries /////////////////////////////////////////////////////////////////

// Extra small devices (phones, less than 768px)
// No media query since this is the default in Bootstrap (These are included in modules & layouts sass files)

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {

    .navbar-collapse .navbar-nav li {
       border: none;
    }

    .small-footer {

        a {
            display: inline;
            text-align: left;        
        }

        .footer-menu, .footer-credits {
            width: auto;
        }    

        .footer-credits a,
        .footer-menu .menu li a {
            padding-right: $space-sm;
        }
    }


}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md-min) {
     
    header .navbar-collapse .navbar-nav {
        li.menu-item {
            background-color: transparent;
            border-top: 0!important;
            .dropdown-menu li { border-top: 1px solid #eee!important; }
            .dropdown-menu li:first-child { border-top: 0!important; }
        } 
    }       
    header .navbar-collapse .navbar-nav li .dropdown-menu .menu-item {
        border-bottom: 0!important;
    }    

    body > header > .top-navbar {
        // border-bottom: 5px solid $gray-lighter;
        position: relative;
        .navbar-nav ul.sub-menu.dropdown-menu {
            left: 50%;
            right: auto;
            text-align: center;
            transform: translate(-50%, 0);
            background: transparent url("../Paradox/assets/images/triangle.png") 50% 0px no-repeat;
            padding-top: 15px;
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            .menu-item a { 
                background-color: white; 
                color: #7a7a7a; 
                &:hover {
                    color: #3f3faa!important;
                    // background-color: #eee;
                }
            }        
            .menu-item:first-child {
                li.menu-item:first-child { border: none!important;}
                a { @include border-radius(7px 7px 0px 0px); border: none; } 
            }
            .menu-item:last-child a { 
                @include border-radius(0px 0px 7px 7px); 
                -webkit-box-shadow: 0px 10px 13px -4px rgba(51,51,51,0.47);
                -moz-box-shadow: 0px 10px 13px -4px rgba(51,51,51,0.47);
                box-shadow: 0px 10px 13px -4px rgba(51,51,51,0.47);          
            }        
        }    
    }    

    .page-template-page-home, 
    .page-template-page-right-sidebar,
    .page-template-default, 
    body.blog,
    body.single-post,
    .archive.category,
    .archive.date {
        .main-col { padding-right: 70px; }
        .sidebar-right { padding-left: 70px; }    
    }    

    .page-template-page-left-sidebar {
        .main-col { padding-left: 70px; }
        .sidebar-left { padding-right: 70px; }    
    }        

    .sidebar-right { border-left: 1px solid #dedede; }
    .sidebar-left { border-right: 1px solid #dedede; }

    header .navbar-brand img {
        width: 100%;
    }    

    .logos .container .cred-logo {
        padding-left: 30px;
        padding-right: 30px;
    }    

    .sidebar #widget_sp_image-3 img {
        width: 75%;
        @include border-radius(200px);
        border: 4px solid $hr-border;
    }    

}

// Exclusive Media Queries /////////////////////////////////////////////////////////////////

// Extra super tiny devices only (phones, less than 340px)

@media (max-width: 390px) {
    .navbar-header .navbar-brand img { width: 220px; }
    .hidden-xxs { display: none !important; }
}

// Extra small devices only (phones, less than 768px)
@media (max-width: $screen-xs-max) { 

    .cat-dropdown .dropdown-menu { left: 0; }    

    .footer .creds {
        padding: 0;
        .cred-img {        
            padding: 58px 0;
        } 
    }

    // .top-navbar { padding-bottom: 0;}    

    .small-footer { 
        text-align: center;
        .footer-credits { float: none!important; }
        .social-links {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .footer-paradox { float: none!important; text-align: center; }
    }

    .clipboard-icon {        
        padding-left: 109px;
        padding-top: 13px;        
    }

    .footer-logo {
        padding-bottom: $space-sm;
        display: block;
    }    

    .logos .container div {
        padding: 10px 75px;
    }    
    
    .masthead, .primary-content, .more-foot, .small-footer, .main-col {
        padding-top: ($space-lg - 50);        
        padding-bottom: ($space-lg - 50);
    }

    .body-content {

        h1 {
            font-size: ($font-size-h1 * 0.7);
        }
        h2 {
            font-size: ($font-size-h2 * 0.7);
        } 
        h3 {
            font-size: ($font-size-h3 * 0.7);
        }    
        h4 {
            font-size: ($font-size-h4 * 0.7);
        } 
        h5 {
            font-size: ($font-size-h5 * 0.8);
        }   
        h6 {
            // font-size: $font-size-h6;
        }      

        p, ul, ol {
            margin: $mobile-paragraph-top-margin;
        }                
    }

    .primary-content, .masthead, .logos, .footer {
        .btn {
            margin: $mobile-paragraph-top-margin;
        }  
    }

    .col-no-padding-xs {
        padding-left: 0px;
        padding-right: 0px;
    }        
    
    .navbar-header {
        .navbar-brand { 
            /* width: 100%; */ 
            // width: 220px;
        }
        .navbar-toggle {}
    }

    .no-float-xs {
        float: none!important;
    }



}

// Small devices only (tablets, 768px to 992px)
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

    .cat-dropdown .dropdown-menu { left: 0; }    

    .small-footer { 
        text-align: center;
        .footer-credits { float: none!important; }
        .social-links {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .footer-paradox { float: none!important; text-align: center; }
    }

    .col-no-padding-sm {
        padding-left: 0px;
        padding-right: 0px;
    }    

    .no-float-sm {
        float: none!important;
    }      
}

// Medium devices only (desktops, 992px to 1200px)
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

    header .top-navbar .navbar-collapse {
        padding-top: 0!important;
        .primary-menu {
            padding-top: 18px!important;
            padding-right: 13px;
        }
    }    

    .col-no-padding-md {
        padding-left: 0px;
        padding-right: 0px;
    }   
    
    .no-float-md {
        float: none!important;
    }       
}

// Large devices only (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) {

    .col-no-padding-lg {
        padding-left: 0px;
        padding-right: 0px;
    }        

    .no-float-lg {
        float: none!important;
    }      
}